@import "bootstrap/bootstrap";
@import "mmenu.all";

/**UTILITIES**/
img{
	max-width: 100%;
}
ul.two-columns{
	@media(min-width: $screen-md-min){
		-moz-column-count: 2;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 2;
	  -webkit-column-gap: 20px;
	  column-count: 2;
	  column-gap: 20px;
	}
}
/** flex containers **/
.f-container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  flex-direction: column;
  @media (min-width: $screen-md-min){
		flex-direction: row;
  }
  &.space-between {
  	justify-content: space-between;
  }
}
/** end flex containers**/

/** social icons **/
.social-icons {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {
		display: inline-block;
		margin-right: 4px;
		@media (min-width: $screen-md-min){
			margin-right: 7px;	
		}
	}

	a {
		display: block;
		text-indent: -99999px;
		outline: none;
		width: 30px;
		height: 30px;
		background: url(../images/social-icons.png) no-repeat;
	}

	.twitter a {
		background-position: 0 0;
	}
	.facebook a {
		background-position: -34px 0;
	}
	.youtube a {
		background-position: -74px 0;
	}
	.linkedin a {
		background-position: -118px 0;
	}
	.instagram a {
		background-position: -162px 0;
	}
	.snapchat a {
		background-position: -204px 0;
	}
}
.social-icons-lg {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {
		display: inline-block;
		margin-right: 13px;
	}

	a {
		display: block;
		text-indent: -99999px;
		outline: none;
		width: 118px;
		height: 162px;
		background: url(../images/social-media-lg.png) no-repeat;
	}

	.twitter a {
		background-position: 0 0;
	}
	.facebook a {
		background-position: -131px 0;
	}
	.youtube a {
		background-position: -257px 0;
	}
	.linkedin a {
		background-position: -384px 0;
	}
	.instagram a {
		background-position: -510px 0;
	}
	.snapchat a {
		background-position: -640px 0;
	}
}
/*** end social icons */
/** forms **/
/** end forms **/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
/** custom buttons **/
.btn {
	&.btn-orange {
		background: #ff7e00;
		color: #fff;
		&:hover,
		&:active{
			background: #a0cdb0;
			color: #000;
		}
	}
	&.outline-btn {
		border: 4px solid #000;
		color: #000;
		&:hover,
		&:focus{
			color: #fff;
			background: #000;
		}
		&:visited{
			border-color: #999;
			color: #999;
		}
	}
	&.rounded-btn {
		border-radius: 100px;
	}
	&.btn-primary {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ec9c4+1,b4ddb5+100 */
		background: #8ec9c4; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #8ec9c4 1%, #b4ddb5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec9c4', endColorstr='#b4ddb5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		border-color: transparent;
		text-transform: uppercase;
		font-weight: bold;
		border-color: transparent;
		color: #000;
		&:hover,
		&:active {
			color: #fff;
			border-color: transparent;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baa195+0,b06a8e+50,ad5f8f+100 */
			background: #baa195; /* Old browsers */
			background: -moz-linear-gradient(left,  #baa195 0%, #b06a8e 50%, #ad5f8f 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #baa195 0%,#b06a8e 50%,#ad5f8f 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #baa195 0%,#b06a8e 50%,#ad5f8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baa195', endColorstr='#ad5f8f',GradientType=1 ); /* IE6-9 */
		}
		&:visited{
			color: #fff;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#797365+0,7f4c5d+50,75405e+100 */
			background: #797365; /* Old browsers */
			background: -moz-linear-gradient(left,  #797365 0%, #7f4c5d 50%, #75405e 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #797365 0%,#7f4c5d 50%,#75405e 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #797365 0%,#7f4c5d 50%,#75405e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797365', endColorstr='#75405e',GradientType=1 ); /* IE6-9 */
		}
	}
	&.btn-secondary{
		color: #3d0044;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6dbad+0,e5848b+50,c15f86+100 */
		background: #e6dbad; /* Old browsers */
		background: -moz-linear-gradient(left,  #e6dbad 0%, #e5848b 50%, #c15f86 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #e6dbad 0%,#e5848b 50%,#c15f86 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #e6dbad 0%,#e5848b 50%,#c15f86 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6dbad', endColorstr='#c15f86',GradientType=1 ); /* IE6-9 */
		border: none;
		&:hover,
		&:active{
			color: #fff;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9eceb9+0,99d0c2+50,92cec5+100 */
			background: #9eceb9; /* Old browsers */
			background: -moz-linear-gradient(left,  #9eceb9 0%, #99d0c2 50%, #92cec5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #9eceb9 0%,#99d0c2 50%,#92cec5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #9eceb9 0%,#99d0c2 50%,#92cec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eceb9', endColorstr='#92cec5',GradientType=1 ); /* IE6-9 */
		}
	}
}
/**HEADER**/
.head-wrap {
  // min-height: 777px;
  background: url(../images/head-bg-home.jpg) center;
  background-size: cover;
  &.head-wrap-bio{
  	background: url(../images/bio-bg.jpg) center;
  	background-size: cover;
  }
}

.affix-wrap{
	width: 100%;
	z-index: 999999;
	&.affix .navbar{
		background: rgba(255, 255, 255, .8);
	}
}

.navbar-toggle {
	display: none;
}
.navbar-collapse.collapse.navbar-md-min {
	@media (max-width: $screen-md-min){
		display: none !important;
	}
}

#mobile-menu-toggle {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 60px;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	right: -1px;
	top: -1px;
	
	@media (min-width: $screen-md-min) {
		display: none;
	}

	> .icon-bar{
		height: 2px;
		width: 19px;
		background: #fff;
		display: block;
		margin-bottom: 4px;
	}
}
/* bootstrap 3 level menu */

.dropdown-submenu {
  position: relative;

}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d88a8c+0,c96789+100 */
  background: #d88a8c; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #d88a8c 0%, #c96789 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #d88a8c 0%,#c96789 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #d88a8c 0%,#c96789 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88a8c', endColorstr='#c96789',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
	position: absolute;
	right: 12px;
	top: 14px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/** mmenu **/
/* prevent mmenu FOUC */
#mobile-menu {
	position: absolute;
	visibility: hidden;
	&.mm-menu {
		visibility: visible;
	}
}
.mm-menu.mm-offcanvas.mm-bottom, .mm-menu.mm-offcanvas.mm-top {
	height: 100%;
}
.mm-menu.mm-offcanvas.mm-bottom {
	top: 0;
	bottom: auto;
	margin-top: 40px;
}
#mobile-menu.mm-menu{
	background: rgba(0, 0, 0, .5);
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar > *,
.mm-menu{
	color: rgba(255, 255, 255, .7);
	text-transform: uppercase;
}
.mm-navbar .mm-title{
	display: none;
}
.mm-panel.mm-hassearch.mm-hasnavbar{
	padding-top: 60px;
}
.mm-panel.mm-hassearch.mm-hasnavbar > .mm-search {
	top: 0;
	z-index: 99;
}
.mm-search {
	height: 42px;
}
.mm-menu .mm-search input {
	color: #fff;
	font-weight: bold;
	opacity: 1;
	text-transform: uppercase;
	background: url(../images/gradient-border.png) bottom repeat-x;
	min-height: 42px;
	height: 42px;
	max-height: 42px;
	line-height: 42px;
}
.mm-menu .mm-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 1;
}
.mm-listview {
	padding-left: 10px;
	padding-right: 10px;
}
.mm-listview > li.sep {
	height: 2px;
	// background: url(../images/gradient-border.png) bottom repeat-x;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d96ad+0,93a0b3+14,a1ddc3+32,c0dfb5+48,d8ae95+64,cd6186+81,b25f89+100 */
	background: #9d96ad; /* Old browsers */
	background: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d96ad', endColorstr='#b25f89',GradientType=1 ); /* IE6-9 */

}
/** END OF HEADER **/

/** BANNER **/
.home-banner {
	position: relative;
	z-index: 10;

	&:after {
		position: absolute;
		height: 32px;
		background: url(../images/optin.png) center no-repeat;
		width: 100%;
		content: ' ';
		bottom: -32px;
	}

	h1 {
		font-size: 27px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		@media (min-width: $screen-md-min){
			font-size: 66px;
			text-align: left;
			line-height: .9;
		}
	}
	.banner-image {
		text-align: center;
		@media (min-width: $screen-md-min){
			text-align: left;
			margin-left: -188px;	
			width: 528px;
		}
		@media (min-width: $screen-lg-min){
			margin-left: -188px;
		}
		img{
			width: 223px;
			@media (min-width: $screen-md-min){
				width: 528px;
			}
		}
	}
	.subcontent {
		.f-container {
			margin-bottom: 13px;
			@media (min-width: $screen-md-min){
				margin-bottom: 0;
			}
		}
		.signature {
			margin-bottom: 20px;
			@media (min-width: $screen-md-min){
				margin-right: 117px;
				margin-bottom: 0;
			}

			img {
				width: 76px;
				@media (min-width: $screen-md-min){
					width: 130px;
				}
			}
		}
		.btn {
			text-transform: uppercase;
			font-size: 16px;
			@media (min-width: $screen-md-min){
				font-size: 24px;
			}
		}
	}
	.subscribe-box {
		padding: 8px 0;
		background: rgba(0, 0, 0, .5);
		width: 100%;
		bottom: 0;
		color: #fff;
		@media (min-width: $screen-md-min) {
			position: absolute;
		}
		.border {
			border-top: 3px solid #9d96ad;
			border-bottom: 3px solid #9d96ad;
			-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
			-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
			border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			border-image-slice: 1;
			padding: 15px 0;
		}
		form {
			margin-top: 40px;
		}
		.form-control {
			width: 100%;
			@media (min-width: $screen-md-min) {
				width: 180px;
			}
			@media (min-width: $screen-lg-min){
				width: 240px;
			}
		}
		.form-group {
			@media (max-width: $screen-md-min) {
				display: block;
				margin-bottom: 5px;
			}
		}
		.btn {
			@media (max-width: $screen-md-min) {
				display: block;
				width: 100%;
			}
			@media (min-width: $screen-lg-min){
				padding-left: 47px;
				padding-right: 47px;
			}
		}
		.media-left {
			@media (max-width: $screen-md-min){
				display: block;
				padding-right: 0;
				text-align: center;
			}
			> a {
				display: block;
				width: 364px;
				@media (max-width: $screen-md-min){
					margin: 0 auto;
				}
			}
		}
		.media-object {
			width: 200px;
			@media (max-width: $screen-md-min){
				display: inline-block;
			}
			@media (min-width: $screen-lg-min){
				width: 364px;	
			}
		}
		.media-body {
			padding-top: 20px;
			@media (max-width: $screen-md-min){ 
				text-align: center;
			}
		}
		.media-heading {
			margin: 0 0 15px 0;
			padding: 0;			
			font-weight: bold;
			font-size: 21px;
			@media (min-width: $screen-lg-min){
				font-size: 29px;
			}
		}
	}
}
/** END OF BANNER **/

/** ABOUT SECTION **/
.about-section {
	padding-top: 86px;
	min-height: 797px;
	background: url(../images/bg-about.jpg) center;
	background-size: cover;
	position: relative;
	z-index: 9;
	color: #000;
	&:after {
		content: ' ';
		position: absolute;
		height: 166px;
		background: url(../images/clouds-bot.png) bottom center repeat-x;
		bottom: 0;
		width: 100%;
	}
	.about-img {
		position: absolute;
		bottom: 0;
		right: 0;
		display: none;
		@media (min-width: $screen-lg-min){
			display: block;
		}
	}
	.content {
		padding-bottom: 150px;
	}
	h1 {
		font-weight: 300;
		color: #2c0130;
		font-size: 48px;
	}
	p {
		margin-bottom: 20px;
	}
	.share {
			display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		  display: -ms-flexbox;  /* TWEENER - IE 10 */
		  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		  align-items: center;
		  font-size: 24px;
		  color: #8c5479;
		  .social-icons {
		  	margin-left: 10px;
		  }
	}
	.btn {
		@media (max-width: 448px) {
			margin-bottom: 20px;
		}
	}
	.f-container {
		flex-direction: row;
		@media (max-width: 448px) {
			flex-direction: column;
		}
	}
}
/** END ABOUT SECTION **/

/** AS SEEN SECTION **/
.advertisement {
	padding: 20px 0;
	h1 {
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 36px;
		@media (min-width: $screen-md-min){
			font-size: 36px;
		}
	}
	.f-container{
		align-items: center;
		justify-content: center;
	}
	img{
		margin: 0 25px 40px;
		@media (min-width: $screen-md-min){
			margin: 0 25px;
		}
	}
}
/** END AS SEEN SECTION **/

/** STAY IN TOUCH SECTION **/
.stay-in-touch {
	background: url(../images/clouds-top.png) top repeat-x #333;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 50px;
	position: relative;
	.f-container {
		justify-content: space-between;
		align-items: center;
	}
	&.down-arrow:after{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(51, 51, 51, 0);
		border-top-color: #333333;
		border-width: 28px;
		margin-left: -28px;
	}
	h1{
		font-weight: 300;
		font-size: 36px;
		line-height: 1.2;
		margin: 0 0 20px 0;
		@media (min-width: $screen-md-min){
			font-size: 48px;	
		}
	}
	.hd {
		margin-bottom: 20px;
		@media (max-width: $screen-md-min){
			width: 100%;
		}
		.btn{
			display: none;
			@media (min-width: $screen-md-min){
				display: inline-block;
			}
		}
	}
	.btn{
		border-radius: 16px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d56784+0,da928b+50,dac99f+100 */
		background: #d56784; /* Old browsers */
		background: -moz-linear-gradient(left,  #d56784 0%, #da928b 50%, #dac99f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #d56784 0%,#da928b 50%,#dac99f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #d56784 0%,#da928b 50%,#dac99f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d56784', endColorstr='#dac99f',GradientType=1 ); /* IE6-9 */
		color: #000;
		border: none;
	}
	.social-icons-lg {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	  align-items: center;
	  justify-content: center;
	  flex-wrap: wrap;
	  flex-direction: row;

	  > li {
	  	margin-bottom: 20px;
	  	flex-basis: 25%;
	  	@media (min-width: $screen-lg-min){
				flex-basis: 0;
	  	}
	  }
	}
}
/** END STAY IN TOUCH SECTION **/

/** EVENTS BLOCK **/
.events-block {
	background: #fff;
	padding: 40px 0;
	.hd{
		font-weight: 300;
		font-size: 24px;
		@media (min-width: $screen-md-min){
			font-size: 48px;
		}
		margin: 0 0 40px 0;
		padding: 0;
	}
}
.talks-box {
	.talks-list {
		margin: 0 0 20px 0;
		padding: 0;
		list-style-type: none;
		
		li {
			border: 2px solid #ccc;
			margin-bottom: 7px;
			display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		  display: -ms-flexbox;  /* TWEENER - IE 10 */
		  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		  align-items: center;

		  & > .date {
		  	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		  	font-weight: 900;
		  	text-transform: uppercase;
		  	color: #3d0044;
		  	font-size: 29px;
		  	text-align: center;
		  	line-height: 1;
		  	padding: 0 10px;
		  	@media (min-width: $screen-md-min){
		  		font-size: 58px;
		  	}
		  	strong {
		  		font-size: 48px;
		  		display: block;
		  		@media (min-width: $screen-md-min){
		  			font-size: 90px;
		  		}
		  	}
		  }
		  & > .content {
				border-left: 2px solid #ccc;
				align-self: stretch;
				padding: 10px 15px;
				font-size: 12px;
				@media (min-width: $screen-md-min){
					font-size: 18px;
					padding: 20px 30px;
				}
				& > h2 {
					font-size: 16px;
					font-weight: bold;
					@media (min-width: $screen-md-min){
						font-size: 30px;
					}
				}
				& > p {
					margin-bottom: 20px;
				}
		  }
		}
	}
	.all{
		display: inline-block;
		margin-bottom: 20px;
		font-size: 10px;
		@media (min-width: $screen-md-min){
			font-size: 18px;
		}
	}
}
.get-in-touch{
	background: #f8f8f8;
	padding: 35px;
	@media (max-width: $screen-md-min){
		font-size: 12px;
		padding: 15px;
	}
	.form-control {
		@media (min-width: $screen-md-min){
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.btn{
		margin-top: 30px;
		margin-bottom: 20px;
		border-radius: 16px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d56784+0,da928b+50,dac99f+100 */
		background: #d56784; /* Old browsers */
		background: -moz-linear-gradient(left,  #d56784 0%, #da928b 50%, #dac99f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #d56784 0%,#da928b 50%,#dac99f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #d56784 0%,#da928b 50%,#dac99f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d56784', endColorstr='#dac99f',GradientType=1 ); /* IE6-9 */
		color: #fff;
		padding-left: 60px;
		padding-right: 60px;
		border: none;
		@media (max-width: $screen-md-min){
			font-size: 16px;
		}
	}
	.required {
		color: #d76683;
	}

	form {
		label {
			@media (max-width: $screen-md-min){
				font-size: 12px;
			}
		}
		.form-control{
			font-size: 12px;
		}
	}
}
/** END EVENTS BLOCK **/

/** EVENTS PAGE **/
.affix + .event-banner{
	margin-top: 0;
}
.event-banner {
	margin-top: -28px;
	position: relative;
	z-index: 10;

	&:after {
		position: absolute;
		height: 32px;
		background: url(../images/optin.png) center no-repeat;
		opacity: .99;
		width: 100%;
		content: ' ';
		bottom: -32px;
	}
	&.no-tip:after {
		display: none;
	}
	.blackstrip {
		background: rgba(0, 0, 0, .6);
		color: #fff;
		padding: 20px 0;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
		display: none;
		@media (min-width: $screen-md-min) {
			display: block;
		}
	}
	h1 {
		font-weight: 800;
		color: #3d0044;
		font-size: 30px;
		@media (min-width: $screen-md-min) {
			font-size: 48px;
		}
	}
	.meetup-box{
		min-height: 366px;
		background: url(../images/clouds-bot-black.png) top left repeat-x;
		padding: 150px 0 0 0;	
		@media (min-width: $screen-md-min){
			padding: 170px 0 0 0;
		}
		.hd{
			display: block;
		}
	}
}
.meetup-box {
	color: #fff;
	background: rgba(0, 0, 0, .6);
	padding: 20px 0;
	.border{
		border-top: 3px solid #9d96ad;
		border-bottom: 3px solid #9d96ad;
		-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
		-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
		border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border-image-slice: 1;
		padding: 30px 0 10px 0;
		@media (min-width: $screen-md-min){
			padding: 70px 0 40px 0;		
		}
	}
	.hd {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 20px;
		font-size: 18px;
		display: block;
		@media (min-width: $screen-md-min){
			font-size: 36px;
			display: none;
		}
	}
	.form-group {
		@media (max-width: $screen-md-min){
			margin-bottom: 2px;
		}
	}
	.submit-button {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.btn {
		background: #ff7e00;
		color: #fff;
		border-radius: 100px;
		font-weight: bold;
		font-size: 18px;
		padding-left: 40px;
		padding-right: 40px;
		@media (min-width: $screen-md-min){
			font-size: 30px;
			padding: 18px 100px;	
		}
	}
}
.large-head,
.countdown-section {
	padding: 15px 0;

	@media(min-width: $screen-md-min){
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		-webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  -moz-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	}
}
.large-head{
	em {
		font-style: normal;
		@media (max-width: $screen-md-min){
			font-weight: 300;
			display: block;
			font-size: 24px;
		}
	}
	.hide-on-mobile {
		@media (max-width: $screen-md-min){
			display: none;
		}
	}
}
.countdown-section {
	font-size: 24px;
	color: #3d0044;
	margin-bottom: 20px;
	.hd{
		font-weight: bold;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		font-size: 16px;
		@media (min-width: $screen-md-min){
			width: 24.545454545454547%;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;
			font-size: 18px;
		}
		@media (max-width: $screen-md-min){
			border-bottom: 1px solid rgba(0, 0, 0, .2);
			-webkit-box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
		  -moz-box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
		  box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
		  padding-bottom: 10px;
		}

		img{
			@media (max-width: $screen-md-min){
				width: 12px;
				position: relative;
				top: -3px;
			}
		}
	}
	.countdown-timer {
		width: 100%;
		text-align: center;
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	  align-items: center;
	  justify-content: space-between;

	  @media (min-width: $screen-md-min){
	  	width: 45.909090909090914%;
	  }

	  @media (max-width: $screen-md-min){
				border-bottom: 1px solid rgba(0, 0, 0, .2);
				-webkit-box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
			  -moz-box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
			  box-shadow: 0 1px 1px 0px rgba(255,255,255,.4);
			  padding: 10px 20px;
			  margin-bottom: 10px;
	  }

		span {
			display: inline-block;
			font-size: 12px;
			@media (min-width: $screen-md-min){
				font-size: 18px;
			}
		}
		strong {
			font-size: 48px;
			font-weight: 800;
			display: block;
			@media (max-width: $screen-md-min){
				line-height: 1;
				font-size: 700;
			}
		}
	}
	.date {
		font-weight: bold;
		padding-left: 20px;
		@media (max-width: $screen-md-min){
			font-size: 16px;
			text-align: center;
		}
	}
	.f-container.vb-f-container {
		flex-direction: column;
		@media (min-width: $screen-md-min){
			flex-direction: row;
		}
		@media (max-width: $screen-md-min){
			margin-left: -15px;
	  	margin-right: -15px;
		}
	}
}
.video-box {
	.video {
		border: 6px solid rgba(61,0,68,.3);
		margin-bottom: 20px;
		@media (min-width: $screen-md-min){
			margin-bottom: 0;
			width: 50%;
		}
		img {
			max-width: 100%;
		}
	}
	.content {
		width: 100%;
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  @media (min-width: $screen-md-min){
	  	width: 50%;
	  }
	  @media (max-width: $screen-md-min){
	  	font-size: 16px;
	  	font-weight: bold;
	  }

	  img{
	  	@media (max-width: $screen-md-min){
	  		width: 218px;
	  	}
	  }
	}
}


/** features **/
.features-section {
	padding: 30px 0;
	background: url(../images/features-bg.jpg) center;
	background-size: cover;
	@media(min-width: $screen-md-min){
		padding: 80px 0;
		min-height: 1060px;
	}

	.hd{
		font-size: 24px;
		color: #3d0044;
		font-weight: bold;
		text-align: left;
		margin-bottom: 30px;
		line-height: 1.3;

		@media(min-width: $screen-md-min){
			text-align: center;
			font-size: 36px;
			margin-bottom: 60px;
		}
	}

	.features-list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			background: #c76e92;
			margin-bottom: 4px;
			font-style: italic;
			font-size: 12px;
			padding: 13px 20px;
			-webkit-border-top-left-radius: 18px;
			-webkit-border-bottom-right-radius: 18px;
			-moz-border-radius-topleft: 18px;
			-moz-border-radius-bottomright: 18px;
			border-top-left-radius: 18px;
			border-bottom-right-radius: 18px;
			text-align: center;
			
			@media (min-width: $screen-md-min) {
				padding: 30px 40px;
				font-size: 22px;
				text-align: left;
			}

			strong {
				font-size: 14px;
				display: block;
				@media (min-width: $screen-md-min) {
					font-size: 24px;
					display: inline;
				}
			}

			&:nth-child(2) {
				background: #d77e94;
			}

			&:nth-child(3) {
				background: #e2b2a2;
			}

			&:nth-child(4) {
				background: #e0d4ac;
			}

			&:nth-child(5) {
				background: #bfd5b6;
			}

			&:nth-child(6) {
				background: #b6d3bd;
			}

			&:nth-child(7) {
				background: #84b79a;
			}
		}
	}
}

.big-player-section{
	padding: 14px 0 120px;
	background: url(../images/head-bg-home.jpg) center;
	background-size: cover;

	.border {
		min-height: 800px;
		border-top: 3px solid #9d96ad;
		-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
		-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
		border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border-image-slice: 1;
		padding: 15px 0;
		position: relative;

		.pen-drawing {
			background: url(../images/pen-drawing.png) no-repeat;
			background-blend-mode: darken;
			background-size: contain;
			width: 295px;
			height: 338px;
			@media (min-width: $screen-md-min){
				position: absolute;
				bottom: 0;
				left: 0;
				width: 661px;
				height: 750px;
			}
		}
		.content {
			font-size: 14px;
			padding: 30px 0;
			@media (min-width: $screen-md-min){
				font-size: 18px;
				padding: 72px 0;
			}
			h2{
				font-weight: 300;
				color: #2c0130;
				font-size: 24px;
				margin-bottom: 30px;
				@media (min-width: $screen-md-min){
					font-size: 36px;
				}
			}
			em{
				font-weight: bold;
			}
			strong{
				color: #ec0505;
			}
			p {
				margin-bottom: 30px;
				@media (min-width: $screen-md-min){
					margin-bottom: 40px;	
				}
			}
		}
	}
}

.what-if-section{
	background: url(../images/clouds-bot.png) top repeat-x;
	margin-top:-142px;
	@media (min-width: $screen-md-min){
		min-height: 820px;
		background: url(../images/what-if-bg.png) top center no-repeat;
		background-size: cover;
	}
	.content {
		font-size: 14px;
		padding: 130px 0;
		@media (min-width: $screen-md-min){
			font-size: 18px;
			padding: 172px 0;
		}
		h2{
			font-weight: 300;
			color: #2c0130;
			font-size: 24px;
			margin-bottom: 30px;
			@media (min-width: $screen-md-min){
				font-size: 36px;
			}
		}
		em{
			font-weight: bold;
		}
		strong{
			color: #ec0505;
		}
		p {
			margin-bottom: 30px;
			@media (min-width: $screen-md-min){
				margin-bottom: 40px;	
			}
		}
	}
}

.why-section{
	background: url(../images/why-bg.jpg) center;
	background-size: cover;
	.f-container{
		flex-direction: column-reverse;
		@media (min-width: $screen-md-min){
			min-height: 760px;
			flex-direction: row;
		}
		img{
			align-self: flex-end;
			@media (max-width: $screen-md-min){
				width: 260px;
				margin: 0 auto;
			}
			@media (min-width: $screen-md-min){
				margin-right: 75px;
			}
		}
		.content{
			width: 100%;
			@media (min-width: $screen-md-min){
				width: 44%;
			}
		}
	}
	.content {
		font-size: 14px;
		padding: 20px 0;
		@media (min-width: $screen-md-min){
			font-size: 18px;
			padding: 40px 0;
		}
		h2{
			font-weight: 300;
			color: #2c0130;
			font-size: 24px;
			margin-bottom: 30px;
			@media (min-width: $screen-md-min){
				font-size: 36px;
			}
		}
		em{
			font-weight: bold;
		}
		strong{
			color: #ec0505;
		}
		p {
			margin-bottom: 30px;
			@media (min-width: $screen-md-min){
				margin-bottom: 40px;	
			}
		}
	}
}
.bottom-section{
	background: url(../images/buildings-white.jpg) center;
	background-size: cover;
}

.signature-section{
	background: #fff;
	padding: 25px 0;
	img{
		max-width: 100%;
	}
	h1{
		margin: 20px 0;
	}
	h2{
		margin: 0 0 10px 0;
		font-size: 24px;
		font-weight: bold;
	}
}
/** END EVENTS PAGE **/

/** EVENTS THANK YOU PAGE **/
.event-navbar-details{
	margin-top: 12px;
	font-size: 14px;
	@media (min-width: $screen-md-min){
		margin-top: 24px;
		font-size: 18px;
	}
}
.event-thankyou-banner{
	.hd{
		font-size: 30px;
		font-weight: 800;
		padding: 30px 0;
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		-webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  -moz-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  @media(min-width: $screen-md-min){
	  	font-size: 60px;	
	  }
	}
	.banner-content{
		font-size: 14px;
		@media (min-width: $screen-md-min){
			font-size: 18px;
		}
	}
	.sub-hd{
		padding: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		-webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  -moz-box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);
	  box-shadow: 1px 1px 1px 0px rgba(255,255,255,.4);	
	  font-size: 14px;
	  @media(min-width: $screen-md-min){
	  	font-size: 18px;
	  }
	  .highlight{
	  	background: #fff;
	  	display: inline-block;
	  	padding: 7px 20px;
	  	border-radius: 2px;
	  	margin-left: 10px;
	  }
	}
	.custom-alert{
		font-size: 24px;
		color: #fff;
		background: #5b3263;
		max-width: 832px;
		margin: 0 auto;
		text-align: left;
		padding: 30px 50px;
		-webkit-border-radius: 60px;
		-webkit-border-top-right-radius: 30px;
		-webkit-border-bottom-left-radius: 30px;
		-moz-border-radius: 60px;
		-moz-border-radius-topright: 30px;
		-moz-border-radius-bottomleft: 30px;
		border-radius: 60px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		position: relative;
		margin-bottom: 36px;
		@media (min-width: $screen-md-min){
			font-size: 36px;
		}
		&:after{
			background: url(../images/bio-vid-shadow.png) center no-repeat;
			width: 100%;
			position: absolute;
			bottom:-24px;
			height: 24px;
			content: '';
			@media (max-width: $screen-sm-min){
				display: none;
			}
		}
		.f-container{
			// max-width: 832px;
			// display: -webkit-inline-flex;
			// display: -moz-inline-box;
			// display: -ms-inline-flexbox;
			// display: -webkit-inline-flex;
			// display: inline-flex;
		}
		.icon{
			margin-right: 25px;
		}
		p{
			margin: 0;
		}
	}
	.event-particulars{
		min-height: 509px;
		padding-top: 130px;
		background: url(../images/clouds-bot-black.png) left top repeat-x;
		color: #fff;
		text-align: center;
		@media (min-width: $screen-md-min){
			padding-top:210px;
			padding-bottom: 50px;
			text-align: left;
		}
		p.share{
			@media(max-width: $screen-md-min){
				text-align: right;
			}
		}
		h2{
			font-size: 30px;
			font-weight: bold;
		}
		ul{
			text-align: left;
			list-style-type: none;
			margin: 0;
			padding:0;
			font-size: 14px;
			@media (min-width: $screen-md-min){
				font-size: 18px;
			}
			li{
				position: relative;
				padding-left: 30px;
				margin-bottom: 20px;
				.glyphicon{
					position: absolute;
					left: 0;
					top:5px;
				}
				.glyphicon-map-marker{
					top:10px;
				}
			}
		}
		.share{
			img{
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
	.map-embed {
    // position: relative;
    width: 100%;
  }
  .map-embed iframe {
  	border: 9px solid rgba(55, 41, 72, .6) !important;
  }
}

/** BIO PAGE **/
.head-wrap-bio{
	position: relative;
	min-height:777px;
	@media(max-width: $screen-md-min){
		min-height: 560px;
	}
}
.bio-banner{
	h1 {
		display: block;
		font-size: 48px;
		font-weight: 800;
		color: #000;
		text-transform: uppercase;
		@media(min-width: $screen-md-min){
			display: none;
		}
	}
	.mobile-image {
		position: absolute;
		bottom: 40px;
		width: 100%;
		margin-left: -15px;
		text-align: center;
		display: block;
		@media(min-width: $screen-md-min){
			display: none;
		}
		img{
			display: inline-block;
		}
	}
	.video{
		position: relative;
		display: none;
		@media(min-width: $screen-md-min){
			display: block;
		}
		img{
			border: 5px solid #2a2a2a;
			position: relative;
		}
		&:before{
			content: ' ';
			position: absolute;
			height: 24px;
			width: 100%;
			background: url(../images/bio-vid-shadow.png) no-repeat;
			bottom: -24px;
			@media(min-width: $screen-md-min){
				width: 650px;	
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
}
.empire-section{
	position: relative;
	background:url(../images/buildings-white.jpg) center no-repeat;
	background-size: cover;
	&:after{
		height: 166px;
		content: ' ';
		width: 100%;
		background: url(../images/clouds-bot.png) top repeat-x;
		position: absolute;
		top: -166px;
		z-index: 0;
	}
	.hd {
		font-size: 30px;
		text-align: center;
		font-weight: 800;
		margin: 0;
		position: relative;
		top: -30px;
		color: #2c0130;
		z-index: 9;
		@media (min-width: $screen-md-min){
			font-size: 60px;
		}
	}
	.f-container{
		overflow: hidden;
		img {
			display: none;
			@media (min-width: $screen-md-min){
				margin-bottom: -50px;
				display: block;
			}
		}
		.content {
			font-size: 14px;
			padding: 0 0 40px 0;
			@media (min-width: $screen-md-min){
				font-size: 18px;
				padding: 20px 0 40px 70px;
			}
			h2{
				font-weight: 300;
				color: #2c0130;
				font-size: 24px;
				margin-bottom: 30px;
				@media (min-width: $screen-md-min){
					font-size: 36px;
				}
			}
			em{
				font-weight: bold;
			}
			strong{
				color: #ec0505;
			}
			p {
				margin-bottom: 30px;
				@media (min-width: $screen-md-min){
					margin-bottom: 40px;	
				}
			}
		}
	}
}
.ordinary-world{
	min-height: 1080px;
	background: url(../images/ordinary-world.jpg) center;
	background-size: cover;
	border-bottom: 3px solid #9d96ad;
	-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-image-slice: 1;
	
	.hd {
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 50px 0;
		@media (min-width: $screen-md-min) {
			margin: 70px 0;
			font-size: 48px;
		}
	}
	.f-container{
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 40px;
	}

	.item {
		flex-basis: 100%;
		text-align: center;
		@media (min-width: $screen-md-min) {
			flex-basis: 50%;
			text-align: left;
		}
		img{
			border: 10px solid #fff;
		}
		&:first-child img{
			@media (min-width: $screen-md-min) {
				transform:          rotate(-5deg);
				-ms-transform:      rotate(-5deg);
				-moz-transform:     rotate(-5deg);
				-webkit-transform:  rotate(-5deg);
				-o-transform:       rotate(-5deg);
			}
		}
		&:last-child{
			padding-top: 40px;
		}
		&:last-child img{
			@media (min-width: $screen-md-min) {
				transform:          rotate(10deg);
				-ms-transform:      rotate(10deg);
				-moz-transform:     rotate(10deg);
				-webkit-transform:  rotate(10deg);
				-o-transform:       rotate(10deg);
			}
		}
		.content{
			padding: 20px 0 0;
			text-align: left;
			font-size: 12px;
			@media (min-width: $screen-md-min) {
				padding: 60px 40px 40px 40px;
				font-size: 18px;
			}
		}
		&:first-child .content {
			// padding-left: 40px;
		}
		&:last-child .content {
			padding-left: 0;
		}
	}
}
.adventure-section{
	background-color: #232323;
	border-bottom:8px solid #000;
	position: relative;
	@media (min-width: $screen-md-min){
		min-height: 954px;
		background: url(../images/adventure-bg.jpg) center transparent;
		background-size: cover;
	}
	&:before{
		content: ' ';
		position: absolute;
		height: 24px;
		width: 100%;
		background: url(../images/bio-vid-shadow.png) no-repeat;
		bottom: -24px;
		@media(min-width: $screen-md-min){
			width: 650px;	
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.bio-image{
		img{
			width: 100%;
			object-fit: cover;
		}
		@media(min-width: $screen-md-min){
			display: none;
		}
	}
	.content {
		h1{
			font-size: 24px;
			font-weight: bold;
			@media(min-width: $screen-md-min){
				font-size: 48px;
			}
		}
		p{
			margin-bottom: 30px;
			font-weight: bold;
			font-size: 12px;
			@media(min-width: $screen-md-min){
				font-size: 18px;
			}
		}
		color: #fff;
		padding: 50px 0;
		@media(min-width: $screen-md-min){
			padding: 100px 0;
		}
	}
}
.refusal-section,
.threshold{
	border-bottom: 3px solid #9d96ad;
	-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-image-slice: 1;
	.content{
		padding: 40px 0;
		@media(min-width: $screen-md-min){
			padding: 70px 0;
		}
	}
	h1{
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 24px 0;
		@media(min-width: $screen-md-min){
			font-size: 48px;	
			margin: 0 0 60px 0;
		}
	}
	p{
		margin-bottom: 20px;
		font-size: 12px;
		@media(min-width: $screen-md-min){
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
}
.threshold{
	border-bottom: none;
}

.gray-block{
	background: url(../images/clouds-top.png) top repeat-x #e9e9e9;
	padding: 160px 0 45px;
	border-bottom: 3px solid #9d96ad;
	-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-image-slice: 1;
	h1{
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 24px 0;
		@media(min-width: $screen-md-min){
			font-size: 48px;	
			margin: 0 0 60px 0;
		}
	}
	p{
		margin-bottom: 20px;
		font-size: 12px;
		@media(min-width: $screen-md-min){
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
}

.ordeal {
	background: #e9e9e9;
	padding: 30px 0;
	position: relative;
	@media(min-width: $screen-md-min){
		padding: 70px 0;
	}
	&:after{
		content: ' ';
		height: 49px;
		width: 100%;
		position: absolute;
		background: url(../images/white-bottom-tip.png) center no-repeat;
		bottom: -42px;
	}
	h1{
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 24px 0;
		text-transform: uppercase;
		@media(min-width: $screen-md-min){
			font-size: 48px;	
			margin: 0 0 60px 0;
		}
	}
	p{
		margin-bottom: 20px;
		font-size: 12px;
		@media(min-width: $screen-md-min){
			font-size: 18px;
			margin-bottom: 40px;
		}
	}	
}

.road-back{
	min-height: 648px;
	background: url(../images/road-back-bg.jpg) center;
	background-size: cover;
	> .container{
		padding-top: 60px;
		padding-bottom: 60px;
		@media(min-width: $screen-md-min){
			padding-top: 136px;
			padding-bottom: 136px;
		}
	}
	h1{
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 24px 0;
		text-transform: uppercase;
		@media(min-width: $screen-md-min){
			font-size: 48px;	
			margin: 0 0 60px 0;
		}
	}
	p{
		margin-bottom: 20px;
		font-size: 12px;
		@media(min-width: $screen-md-min){
			font-size: 18px;
			margin-bottom: 40px;
			line-height: 2;
		}
	}
	img{
		display: inline-block;
		@media(max-width: $screen-md-min){
			max-width: 280px;
		}
	}
}
.resurrection-block{
	background-color: rgba(29, 29, 29, .7);
	min-height: 424px;
	position: relative;
	color: #fff;
	padding: 40px 0 100px;
	@media (min-width: $screen-md-min){
		padding: 90px 0 200px;
	}
	h1{
		text-transform: uppercase;
	}
	p{
		line-height: 1.5 !important;
	}
}
.elixir-section{
	min-height: 620px;
	position: relative;
	&:before{
		content: ' ';
		position: absolute;
		background: url(../images/clouds-bot.png) top repeat-x;
		height: 166px;
		width: 100%;
		top: -166px;
	}
	&:after{
		content: ' ';
		position: absolute;
		background: url(../images/clouds-top.png) bottom repeat-x;
		height: 166px;
		width: 100%;
		bottom: -166px;
	}
	.hd{
		color: #2c0130;
		font-weight: 800;
		text-align: center;
		margin-bottom: 50px;
		font-size: 24px;
		margin-top: 0;
		span{
			color: #d40951;
		}
		@media (min-width: $screen-md-min){
			font-size: 60px;
		}
	}
	.f-container {
		flex-direction: column-reverse;
		@media (min-width: $screen-md-min){
			flex-direction: row;
		}
		img{
			margin-bottom: 30px;
			@media (min-width: $screen-md-min){
				width: 50%;
				margin-left: 50px;
				margin-bottom: 0;
			}
		}
		.content{
			width: 100%;
			@media (min-width: $screen-md-min){
				width: 50%;	
			}	
			p{
				margin-bottom: 20px;
				font-size: 12px;
				@media(min-width: $screen-md-min){
					font-size: 18px;
					margin-bottom: 40px;
				}
			}	
		}
	}
}
.downloadables{
	padding: 60px 0;
	background: #f4f4f4;
	.btn{
		@media (max-width: $screen-md-min){
			margin-bottom: 15px;
			font-size: 16px;
		}
	}
}

.sign-up-section{
	padding: 30px 0 20px;
	font-size: 18px;
	border-bottom: 3px solid #9d96ad;
	-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-image-slice: 1;

	@media (min-width: $screen-md-min){
		font-size: 36px;
		padding: 50px 0 40px;
	}
	.btn{
		padding: 20px 50px;
		text-transform: uppercase;
		font-size: 18px;
		@media (min-width: $screen-md-min){
			font-size: 36px;	
		}
	}
	p{
		font-weight: 300;
		margin-bottom: 40px;
	}
}
.thank-you{
	background: url(../images/features-bg.jpg) top center;
	background-size: cover;
	font-size: 18px;
	font-weight: 300;
	padding: 35px 0;
	border-bottom: 3px solid #9d96ad;
	-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-image-slice: 1;
	@media (min-width: $screen-md-min){
		padding: 85px 0;
		font-size: 36px;
	}
	p{
		margin-bottom: 30px;
	}
	img{
		width: 202px;
		@media (min-width: $screen-md-min){
			width: 272px;
		}
	}
}
.expertise{
	min-height: 529px;
	background: url(../images/expertise-bg.jpg) center;
	background-size: cover;
	position: relative;
	&:after{
		height: 34px;
		width: 100%;
		position: absolute;
		content: ' ';
		bottom: -34px;
		background: url(../images/drop-shadow.png) bottom no-repeat;
	}
	.expert-image{
		position: absolute;
		bottom:0;
		left: 0;
		@media(max-width: $screen-md-min){
			display: none;
		}
	}
	.content{
		padding: 30px 0;
		font-size: 14px;
		@media(min-width: $screen-md-min){
			font-size: 18px;
			padding: 85px 0;
		}
	}
	.hd{
		font-weight: 300;
		text-align: center;
		font-size: 24px;
		@media (min-width: $screen-md-min){
			font-size: 60px;
			text-align: left;
		}
	}
	ul{
		list-style-image: url(../images/check.png);
		padding-left: 20px;
		line-height: 1.7;
	}
}

.journey {
	background: url(../images/buildings-white.jpg) center;
	background-size: cover;
	padding-bottom: 50px;
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
		@media (min-width: $screen-md-min){
			padding-top: 122px;
			padding-bottom: 122px;
		}
	}
	.hd{
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
		@media (min-width: $screen-md-min){
			font-size: 60px;
			margin-bottom: 60px;
		}
	}
	.slides{
		display: none;
		@media(min-width: $screen-md-min){
			display: block;
		}
		iframe{
			margin: 0 auto 50px;
		}
		.btn{
			text-transform: uppercase;
			font-size: 36px;
			font-weight: bold;
			border-radius: 5px;
			padding: 15px 80px;
		}
	}
}
/** END BIO PAGE **/

/** FOOTER **/
.main-footer {
	// min-height: 550px;
	background: url(../images/footer-bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 16px;
	color: #fff;

	.footer-nav {
		display: none;
		border-top: 3px solid #9d96ad;
		border-bottom: 3px solid #9d96ad;
		-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
		-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
		border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border-image-slice: 1;

		@media(min-width: $screen-md-min) {
			display: block;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 30px;

				a {
					display: block;
					padding: 30px 0;
					text-decoration: none;
					color: #fff;
				}
			}
		}	
	}
	.contact-section {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 30px;
		line-height: 2;

		@media (min-width: $screen-md-min){
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
		}
		.footer-logo {
			display: block;
			margin-bottom: 20px;
			margin-top: 28px;
		}
		.phone {
			font-size: 24px;
			font-weight: bold;
		}
		.email {
			color: #fff;
		}
	}
	.black-box {
		background: rgba(0, 0, 0, .3);
		padding-top: 51px;
		min-height: 338px;
		margin-bottom: 30px;

		@media (min-width: $screen-md-min){
			margin-bottom: 0;
		}
		&.subscribe {
			padding-top: 30px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 15px;
			border-top: 3px solid #9d96ad;
			border-bottom: 3px solid #9d96ad;
			-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
			-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
			border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			border-image-slice: 1;

			@media (min-width: $screen-md-min){
				border-top: none;
				border-bottom: none;
				padding-bottom: 0;
			}
			h2{
				font-size: 30px;
				font-weight: bold;
				margin: 20px 0 0 0;
				padding: 0;
				font-size: 24px;
				@media (min-width: $screen-md-min){
					font-size: 30px;
					margin: 0;
				}
			}
			.media {
				margin-bottom: 15px;
				font-size: 14px;
				@media (min-width: $screen-md-min){
					font-size: 18px;
				}
				> .media-right {
					@media (max-width: $screen-md-min){
						display : none;
					}
				}
			}
			.form-inline .form-group{
				@media (max-width: $screen-md-min){
					width: 100%;
					margin-bottom: 3px;
				}
			}
			.form-inline .form-control {
				width: 167px;
				@media (max-width: $screen-md-min){
					width: 100%;
				}
			}
			.btn {
				@media (max-width: $screen-md-min){
					width: 100%;
				}
			}
		}
	}
	.bottom-bar{
		background: #000;
		display: none;
		@media (min-width: $screen-md-min) {
			display: block;
		}
		.fcontainer {
			height: 86px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				display: inline-block;
				margin-right: 46px;
				&:last-child {
					margin-right: 0;
				}
				a{
					color: #999999;
					text-decoration: none;
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}

}
/** END OF FOOTER **/