@import "bootstrap/bootstrap";
@import "mmenu.all";

/**UTILITIES**/
/** flex containers **/
.f-container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
  flex-flow: column;
  @media (min-width: $screen-md-min){
		flex-flow: row;
  }
  &.space-between {
  	justify-content: space-between;
  }
}
/** end flex containers**/

/** social icons **/
.social-icons {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {
		display: inline-block;
		margin-right: 4px;
		@media (min-width: $screen-md-min){
			margin-right: 8px;	
		}
	}

	a {
		display: block;
		text-indent: -99999px;
		outline: none;
		width: 30px;
		height: 30px;
		background: url(../images/social-icons.png) no-repeat;
	}

	.twitter a {
		background-position: 0 0;
	}
	.facebook a {
		background-position: -34px 0;
	}
	.youtube a {
		background-position: -74px 0;
	}
	.linkedin a {
		background-position: -118px 0;
	}
	.instagram a {
		background-position: -162px 0;
	}
	.snapchat a {
		background-position: -204px 0;
	}
}
.social-icons-lg {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {
		display: inline-block;
		margin-right: 13px;
	}

	a {
		display: block;
		text-indent: -99999px;
		outline: none;
		width: 118px;
		height: 162px;
		background: url(../images/social-media-lg.png) no-repeat;
	}

	.twitter a {
		background-position: 0 0;
	}
	.facebook a {
		background-position: -131px 0;
	}
	.youtube a {
		background-position: -257px 0;
	}
	.linkedin a {
		background-position: -384px 0;
	}
	.instagram a {
		background-position: -510px 0;
	}
	.snapchat a {
		background-position: -640px 0;
	}
}
/*** end social icons */
/** forms **/
/** end forms **/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
/** custom buttons **/
.btn {
	&.outline-btn {
		border: 4px solid #000;
		color: #000;
	}
	&.rounded-btn {
		border-radius: 100px;
	}
	&.btn-primary {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ec9c4+1,b4ddb5+100 */
		background: #8ec9c4; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #8ec9c4 1%, #b4ddb5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec9c4', endColorstr='#b4ddb5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		border-color: transparent;
		text-transform: uppercase;
		font-weight: bold;
		border-color: transparent;
		color: #000;
		&:hover {
			color: rgba(0, 0, 0, .8);
			border-color: transparent;
		}
		&:active,
		&:focus,
		&:active:focus {
			background: #8ec9c4; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #8ec9c4 1%, #b4ddb5 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg,  #8ec9c4 1%,#b4ddb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec9c4', endColorstr='#b4ddb5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			color: #000;
		}
	}
}
/**HEADER**/
.head-wrap {
  min-height: 777px;
  background: url(../images/head-bg-home.jpg) center;
  background-size: cover;
}


.navbar-toggle {
	display: none;
}
.navbar-collapse.collapse.navbar-md-min {
	@media (max-width: $screen-md-min){
		display: none !important;
	}
}

#mobile-menu-toggle {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 60px;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	right: -1px;
	top: -1px;
	
	@media (min-width: $screen-md-min) {
		display: none;
	}

	> .icon-bar{
		height: 2px;
		width: 19px;
		background: #fff;
		display: block;
		margin-bottom: 4px;
	}
}
/* bootstrap 3 level menu */

.dropdown-submenu {
  position: relative;

}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d88a8c+0,c96789+100 */
  background: #d88a8c; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #d88a8c 0%, #c96789 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #d88a8c 0%,#c96789 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #d88a8c 0%,#c96789 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88a8c', endColorstr='#c96789',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
	position: absolute;
	right: 12px;
	top: 14px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/** mmenu **/
/* prevent mmenu FOUC */
#mobile-menu {
	position: absolute;
	visibility: hidden;
	&.mm-menu {
		visibility: visible;
	}
}
.mm-menu.mm-offcanvas.mm-bottom, .mm-menu.mm-offcanvas.mm-top {
	height: 100%;
}
.mm-menu.mm-offcanvas.mm-bottom {
	top: 0;
	bottom: auto;
	margin-top: 40px;
}
#mobile-menu.mm-menu{
	background: rgba(0, 0, 0, .5);
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar > *,
.mm-menu{
	color: rgba(255, 255, 255, .7);
	text-transform: uppercase;
}
.mm-navbar .mm-title{
	display: none;
}
.mm-panel.mm-hassearch.mm-hasnavbar{
	padding-top: 60px;
}
.mm-panel.mm-hassearch.mm-hasnavbar > .mm-search {
	top: 0;
	z-index: 99;
}
.mm-search {
	height: 42px;
}
.mm-menu .mm-search input {
	color: #fff;
	font-weight: bold;
	opacity: 1;
	text-transform: uppercase;
	background: url(../images/gradient-border.png) bottom repeat-x;
	min-height: 42px;
	height: 42px;
	max-height: 42px;
	line-height: 42px;
}
.mm-menu .mm-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
}
.mm-menu .mm-search :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 1;
}
.mm-listview {
	padding-left: 10px;
	padding-right: 10px;
}
.mm-listview > li.sep {
	height: 2px;
	// background: url(../images/gradient-border.png) bottom repeat-x;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d96ad+0,93a0b3+14,a1ddc3+32,c0dfb5+48,d8ae95+64,cd6186+81,b25f89+100 */
	background: #9d96ad; /* Old browsers */
	background: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d96ad', endColorstr='#b25f89',GradientType=1 ); /* IE6-9 */

}
/** END OF HEADER **/

/** BANNER **/
.home-banner {
	position: relative;
	z-index: 10;

	&:after {
		position: absolute;
		height: 32px;
		background: url(../images/optin.png) center no-repeat;
		width: 100%;
		content: ' ';
		bottom: -32px;
	}

	h1 {
		font-size: 27px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		@media (min-width: $screen-md-min){
			font-size: 66px;
			text-align: left;
			line-height: .9;
		}
	}
	.banner-image {
		text-align: center;
		@media (min-width: $screen-md-min){
			text-align: left;
			margin-left: -188px;	
		}
		@media (min-width: $screen-lg-min){
			margin-left: -88px;
		}
		img{
			width: 223px;
			@media (min-width: $screen-md-min){
				width: 528px;
			}
		}
	}
	.subcontent {
		.f-container {
			margin-bottom: 13px;
			@media (min-width: $screen-md-min){
				margin-bottom: 0;
			}
		}
		.signature {
			margin-bottom: 20px;
			@media (min-width: $screen-md-min){
				margin-right: 117px;
				margin-bottom: 0;
			}

			img {
				width: 76px;
				@media (min-width: $screen-md-min){
					width: 130px;
				}
			}
		}
		.btn {
			text-transform: uppercase;
			font-size: 16px;
			@media (min-width: $screen-md-min){
				font-size: 24px;
			}
		}
	}
	.subscribe-box {
		padding: 8px 0;
		background: rgba(0, 0, 0, .5);
		width: 100%;
		bottom: 0;
		color: #fff;
		@media (min-width: $screen-md-min) {
			position: absolute;
		}
		.border {
			border-top: 3px solid #9d96ad;
			border-bottom: 3px solid #9d96ad;
			-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
			-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
			border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			border-image-slice: 1;
			padding: 15px 0;
		}
		form {
			margin-top: 40px;
		}
		.form-control {
			width: 100%;
			@media (min-width: $screen-md-min) {
				width: 180px;
			}
			@media (min-width: $screen-lg-min){
				width: 266px;
			}
		}
		.form-group {
			@media (max-width: $screen-md-min) {
				display: block;
				margin-bottom: 5px;
			}
		}
		.btn {
			@media (max-width: $screen-md-min) {
				display: block;
				width: 100%;
			}
			@media (min-width: $screen-lg-min){
				padding-left: 47px;
				padding-right: 47px;
			}
		}
		.media-left {
			@media (max-width: $screen-md-min){
				display: block;
				padding-right: 0;
				text-align: center;
			}
		}
		.media-object {
			width: 200px;
			@media (max-width: $screen-md-min){
				display: inline-block;
			}
			@media (min-width: $screen-lg-min){
				width: 364px;	
			}
		}
		.media-body {
			padding-top: 20px;
			@media (max-width: $screen-md-min){ 
				text-align: center;
			}
		}
		.media-heading {
			margin: 0 0 15px 0;
			padding: 0;			
			font-weight: bold;
			font-size: 21px;
			@media (min-width: $screen-lg-min){
				font-size: 29px;
			}
		}
	}
}
/** END OF BANNER **/

/** ABOUT SECTION **/
.about-section {
	padding-top: 86px;
	min-height: 797px;
	background: url(../images/bg-about.jpg) center;
	background-size: cover;
	position: relative;
	z-index: 9;
	color: #000;
	&:after {
		content: ' ';
		position: absolute;
		height: 166px;
		background: url(../images/clouds-bot.png) bottom center repeat-x;
		bottom: 0;
		width: 100%;
	}
	.about-img {
		position: absolute;
		bottom: 0;
		right: 0;
		display: none;
		@media (min-width: $screen-lg-min){
			display: block;
		}
	}
	.content {
		padding-bottom: 150px;
	}
	h1 {
		font-weight: 300;
		color: #2c0130;
		font-size: 48px;
	}
	p {
		margin-bottom: 20px;
	}
	.share {
			display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		  display: -ms-flexbox;  /* TWEENER - IE 10 */
		  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		  align-items: center;
		  font-size: 24px;
		  color: #8c5479;
		  .social-icons {
		  	margin-left: 10px;
		  }
	}
	.btn {
		@media (max-width: 448px) {
			margin-bottom: 20px;
		}
	}
	.f-container {
		flex-flow: row;
		@media (max-width: 448px) {
			flex-flow: column;
		}
	}
}
/** END ABOUT SECTION **/

/** AS SEEN SECTION **/
.advertisement {
	padding: 20px 0;
	h1 {
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 36px;
		@media (min-width: $screen-md-min){
			font-size: 36px;
		}
	}
	.f-container{
		align-items: center;
		justify-content: center;
	}
	img{
		margin: 0 25px 40px;
		@media (min-width: $screen-md-min){
			margin: 0 25px;
		}
	}
}
/** END AS SEEN SECTION **/

/** STAY IN TOUCH SECTION **/
.stay-in-touch {
	background: url(../images/clouds-top.png) top repeat-x #333;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 50px;
	.f-container {
		justify-content: space-between;
		align-items: center;
	}
	h1{
		font-weight: 300;
		font-size: 36px;
		line-height: 1.2;
		margin: 0 0 20px 0;
		@media (min-width: $screen-md-min){
			font-size: 48px;	
		}
	}
	.hd {
		margin-bottom: 20px;
		.btn{
			border-radius: 16px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d56784+0,da928b+50,dac99f+100 */
			background: #d56784; /* Old browsers */
			background: -moz-linear-gradient(left,  #d56784 0%, #da928b 50%, #dac99f 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #d56784 0%,#da928b 50%,#dac99f 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #d56784 0%,#da928b 50%,#dac99f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d56784', endColorstr='#dac99f',GradientType=1 ); /* IE6-9 */
			color: #000;
			border: none;
		}
	}
	.social-icons-lg {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	  align-items: center;
	  justify-content: center;
	  flex-wrap: wrap;
	  flex-direction: row;

	  > li {
	  	margin-bottom: 20px;
	  	flex-basis: 25%;
	  	@media (min-width: $screen-lg-min){
				flex-basis: 0;
	  	}
	  }
	}
}
/** END STAY IN TOUCH SECTION **/

/** FOOTER **/
.main-footer {
	min-height: 550px;
	background: url(../images/footer-bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 16px;
	color: #fff;

	.footer-nav {
		display: none;
		border-top: 3px solid #9d96ad;
		border-bottom: 3px solid #9d96ad;
		-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
		-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
		border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border-image-slice: 1;

		@media(min-width: $screen-md-min) {
			display: block;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 30px;

				a {
					display: block;
					padding: 30px 0;
					text-decoration: none;
					color: #fff;
				}
			}
		}	
	}
	.contact-section {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 30px;
		line-height: 2;

		@media (min-width: $screen-md-min){
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
		}
		.footer-logo {
			display: block;
			margin-bottom: 20px;
			margin-top: 28px;
		}
		.phone {
			font-size: 24px;
			font-weight: bold;
		}
		.email {
			color: #fff;
		}
	}
	.black-box {
		background: rgba(0, 0, 0, .3);
		padding-top: 51px;
		min-height: 338px;
		margin-bottom: 30px;

		@media (min-width: $screen-md-min){
			margin-bottom: 0;
		}
		&.subscribe {
			padding-top: 30px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 15px;
			border-top: 3px solid #9d96ad;
			border-bottom: 3px solid #9d96ad;
			-moz-border-image: -moz-linear-gradient(left,  #9d96ad 0%, #93a0b3 14%, #a1ddc3 32%, #c0dfb5 48%, #d8ae95 64%, #cd6186 81%, #b25f89 100%); /* FF3.6-15 */
			-webkit-border-image: -webkit-linear-gradient(left,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* Chrome10-25,Safari5.1-6 */
			border-image: linear-gradient(to right,  #9d96ad 0%,#93a0b3 14%,#a1ddc3 32%,#c0dfb5 48%,#d8ae95 64%,#cd6186 81%,#b25f89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			border-image-slice: 1;

			@media (min-width: $screen-md-min){
				border-top: none;
				border-bottom: none;
				padding-bottom: 0;
			}
			h2{
				font-size: 36px;
				font-weight: bold;
				margin: 20px 0 0 0;
				padding: 0;
				font-size: 24px;
				@media (min-width: $screen-md-min){
					font-size: 36px;
					margin: 0;
				}
			}
			.media {
				margin-bottom: 15px;
				font-size: 14px;
				@media (min-width: $screen-md-min){
					font-size: 18px;
				}
				> .media-right {
					@media (max-width: $screen-md-min){
						display : none;
					}
				}
			}
			.form-inline .form-group{
				@media (max-width: $screen-md-min){
					width: 100%;
					margin-bottom: 3px;
				}
			}
			.form-inline .form-control {
				width: 180px;
				@media (max-width: $screen-md-min){
					width: 100%;
				}
			}
			.btn {
				@media (max-width: $screen-md-min){
					width: 100%;
				}
			}
		}
	}
	.bottom-bar{
		background: #000;
		display: none;
		@media (min-width: $screen-md-min) {
			display: block;
		}
		.fcontainer {
			height: 86px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				display: inline-block;
				margin-right: 46px;
				&:last-child {
					margin-right: 0;
				}
				a{
					color: #999999;
					text-decoration: none;
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}

}
/** END OF FOOTER **/